[submodule "deps/DGtal"]
	path = src/deps/DGtal
	url = https://github.com/DGtal-team/DGtal.git
[submodule "deps/polyscope"]
	path = src/deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "src/deps/polyscope"]
	path = src/deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "src/deps/DGtal"]
	path = src/deps/DGtal
	url = https://github.com/DGtal-team/DGtal.git
